<template>
  <div class="container">
    <div class="row">
      <input type="text" v-model="menu_makanan" placeholder="sudah makan apa">
      <select v-model="hari_terpilih" id="">
        <option disabled value="">Enter Day</option>
        <option v-for="(hari, index) in nama_hari" :key="index" :value="hari">{{ hari }}</option>
      </select>
      <button @click="__addRaw">Add</button>
      <hr>
      <table>
        <thead>
          <th>Hari</th>
          <th>Telah makan</th>
        </thead>
        <tr v-for="(training, index) in raw_data" :key="index">
          <td>{{ training.input }}</td>
          <td>{{ training.output }}</td>
        </tr>
      </table>
      <hr>
      <button @click="__trainingNow">Training Sekarang</button> status: {{ status_training }}
      <hr>
      <select v-model="test_hari" id="">
        <option disabled value="">Enter Day</option>
        <option v-for="(hari, index) in nama_hari" :key="index" :value="hari">{{ hari }} {{ __isToday(index) }}</option>
      </select>
      <button @click="__testModel">Makan Apa Ya</button>
      <button @click="__reset">Reset</button><br/>
      result: {{ __format(result) }}
    </div>
  </div>
</template>

<script>
const brain = require('brain.js')
const net = new brain.NeuralNetwork({hiddenLayers: [3]});

export default {
  data() {
    return {
      raw_data: [
        {
          "input": "Sunday",
          "output": "mie ayam don don"
        },
        {
          "input": "Monday",
          "output": "om soto"
        },
        {
          "input": "Tueday",
          "output": "om soto"
        },
        {
          "input": "Wednesday",
          "output": "pondok senopati"
        },
        {
          "input": "Thursday",
          "output": "pondok senopati"
        },
        {
          "input": "Friday",
          "output": "pondok senopati"
        },
        {
          "input": "Saturday",
          "output": "pondok senopati"
        }
      ],
      status_training: "",
      menu_makanan: "",
      hari_terpilih: "",
      test_hari: "",
      result: "",
      nama_hari: [
        "Sunday",
        "Monday",
        "Tueday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ]
    };
  },
  methods: {
    __isToday(index) {
      let today = new Date().getDay()
      if (index == today)
        return "[Today]"
    },
    __trainingNow() {
      let tempData = []
      this.raw_data.forEach((o, i, a) => {
        tempData.push({ "input": {[o.input]: 1}, "output": {[o.output]: 1} })
      })
      let training = net.train(tempData)
      console.log(net.toJSON())
      this.status_training = training
    },
     __addRaw() {
      this.raw_data.push({ "input": this.hari_terpilih, "output": this.menu_makanan })
      // console.log(this.raw_data)
      this.hari_terpilih = ""
      this.menu_makanan = ""
    },
    __testModel() {
      this.result = net.run({[this.test_hari]: 1})
    },
    __format() {
      let highestvalue = 0;
      let highestTaskName = '';
      for(let taskName in this.result){
        if (this.result[taskName] > highestvalue){
          highestvalue = this.result[taskName];
          highestTaskName = taskName;
        }
      }
      return highestTaskName
    },
    __reset() {
      this.result = ""
      this.status_training = ""
      this.test_hari = ""
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  width: 400px;
}
* {
  font-size: 18px;
  box-sizing: border-box;
}
p {
  font-size: 20px;
}
</style>
